
.imageGrow{
    transform: scale(1.25);
    transition: transform 0.3s;
    transition-timing-function: ease-out;
  }
  
  .image {
  transition: transform 0.3s;
  transition-timing-function: ease-out;
  }

  
  
  .blogDescr{
    color:black;
    transition: color 0.4s;
  }

    
  .blogDescrHover{
    transition: color 0.5s;
    color:white
  }

  .blogDescrHoverVariant{
    transition: color 0.5s;
    color:var(--technature);
  }

  .blogTag{
    color:var(--technature);
    transition:color 0.5s;
  }

  .blogTagHover{
    color:black;
    transition:color 0.5s;
  }

  .bg{
    background-color:transparent ;
    transition:background-color 0.4s ;
  }
  .bgHover{
    background-color:var(--technature) ;
    transition:background-color 0.4s ;
  }