@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --technature: #58a857;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  overflow-y: visible;
}

body.openModal {
  overflow-y: hidden;
  touch-action: none;

}

.hideMain{
  opacity:1;
  transition: opacity 2s;
}

.hideMain.close{
  opacity:0;
  transition: opacity 0.3s;
}

.show{
  opacity:1;
  transition: opacity 2s;
}

.show.close{
  opacity:0;
  transition: opacity 0.3s;
}


.modalAnimation {
  will-change: transform;
  transform: translate3d(0px, -100%, 0px);
  transition: transform 1s 0.3s;
  transition-timing-function: ease-in;
}

.modalAnimationClose {
  transition: transform 1s;
  transform: translate3d(0px, -0%, 0px);
  transition-timing-function: ease-out;

}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width:15px;
}

.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar-track{
  background-color:rgb(210, 210, 210);
}

::-webkit-scrollbar-thumb{
  background-color: var(--technature);
  border-radius:100vw;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #3f763e;
  border-radius:100vw;
}

.sectionGradient{
  background-image: linear-gradient(to right top, #ffc8e7, #ffbcc6, #ffb99c, #f7bf76, #c7ca63, #98ce75, #64cf91, #00ccb1, #00c2ce, #00b4e8, #00a2f7, #2a8bf4);
}

.frostedGlass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.06);
}


/* MODAL ANIMATION each item is a seperate <a> */
.item1{
  opacity: 100;
  transform: translateY(0px);
  transition: transform 0.4s 0.7s,opacity 0.5s 0.6s;
  transition-timing-function: ease-out;
}

.item1.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s  ,opacity 0.6s;
  transition-timing-function: ease-in;
}


.item2{
  opacity: 100;
  transform: translateY(0px);
  transition: transform 0.4s 0.6s,opacity 0.5s 0.6s;
  transition-timing-function: ease-out;
}

.item2.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s 0.1s,opacity 0.6s;
  transition-timing-function: ease-in;
}


.item3{
  opacity: 100;
  transform: translateY(0px);
  transition: transform 0.4s 0.5s,opacity 0.5s 0.6s;
  transition-timing-function: ease-out;
}

.item3.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s 0.2s,opacity 0.6s;
  transition-timing-function: ease-in;
}


.item4{
  opacity: 100;
  transform: translateY(0px);
  transition: transform 0.4s 0.4s,opacity 0.5s 0.6s;
  transition-timing-function: ease-out;
}

.item4.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s 0.3s,opacity 0.6s;
  transition-timing-function: ease-in;
}


.item5{
  opacity: 100;
  transform: translateY(0px);
  transition: transform 0.4s 0.3s,opacity 0.5s 0.6s;
  transition-timing-function: ease-out;
}

.item5.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s 0.4s,opacity 0.6s;
  transition-timing-function: ease-in;
}


/* MODAL ANIMATION FOR SUB links */

.subItem1{
  opacity: 100;
  transform: translateY(0px);
  transition: transform 0.4s 0.5s,opacity 0.5s 0.2s;
  transition-timing-function: ease-out;
}

.subItem1.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s  ,opacity 0.6s;
  transition-timing-function: ease-in;
}


.subItem2{
  opacity: 100;
  transform: translateY(0px);
  transition: transform 0.4s 0.4s,opacity 0.5s 0.2s;
  transition-timing-function: ease-out;
}

.subItem2.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s 0.1s,opacity 0.6s;
  transition-timing-function: ease-in;
}


.subItem3{
  opacity: 100;
  transform: translateY(0px);
  transition: transform 0.4s 0.3s,opacity 0.5s 0.2s;
  transition-timing-function: ease-out;
}

.subItem3.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s 0.2s,opacity 0.6s;
  transition-timing-function: ease-in;
}


.subItem4{
  opacity: 100;
  transform: translateY(0px);
  transition: transform 0.4s 0.2s,opacity 0.5s 0.2s;
  transition-timing-function: ease-out;
}

.subItem4.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s 0.3s,opacity 0.6s;
  transition-timing-function: ease-in;
}


.subItem5{
  opacity: 100;
  transform: translateY(0px);
  transition: transform 0.4s 0.1s,opacity 0.5s 0.2s;
  transition-timing-function: ease-out;
}

.subItem5.slide{  
  opacity: 0;
  transform: translateY(-80px);
  transition: transform 0.5s 0.4s,opacity 0.6s;
  transition-timing-function: ease-in;
}
