
  
  .container {
    /* This will come into play later */
    perspective: 40px;
    width: 20em;
    height: 18em;
    background-color: black;
  }
  
  .inner {
    width: 20em;
    height: 18em;
    background-color: black;
  }